/* ====== ОБЩИЕ СТИЛИ HEADER ====== */
body {
    font-family: Golos Text, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #111;
}

.top-bar {
    background: black;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-bar-inner {
    max-width: calc(3 * 400px + 2 * 110px);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

/* логотип строго по центру */
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    width: 89px;
    height: 75px;
    object-fit: contain;
}
.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #d83933;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.cart-icon {
    position: relative;
}